In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [5]:
df = pd.read_parquet('https://www.timestored.com/data/sample/table.parquet')

In [6]:
df.head()

   one  two  three                      four                five
a -1.0  foo   True 2022-12-23 00:00:00+00:00 2022-12-23 11:43:49
b  NaN  bar  False 2021-12-23 00:00:00+00:00 2021-12-23 12:44:50
c  2.5  baz   None 2020-12-23 00:00:00+00:00 2020-12-23 13:45:51

In [8]:
import sklearn

In [9]:
sklearn.__version__

'1.0.2'